[2018-12-22 04:29] TonyBrobston opened #6 "Compression breaks with 47.2 mb file"
Compression breaks if you try to compress a 47.2 mb file without setting a `maxHeight` or `maxWidth`.

[2018-12-22 04:31] TonyBrobston opened #7 "Implement `targetFileSize` option."
Problem:
I would like to have a `targetFileSize` option. I think in some cases depending on where you are uploading files there may be a limit of the size being uploaded. This feature would allow users to say, "I would like this image that's 4mb to be 1mb".

Potential Solution:
I think we could create a feature, a boolean option called `sendCompressionData`. This would turn on a feature that would

[2018-12-22 04:33] TonyBrobston opened #8 "Compression is async"
Scaling uses `FileReader` and `Image` which both have `onload` calls. In order to do this in a synchronous manner I used a Promise, which means the caller has to be async/await and that's true all the way up the hierarchy.

[2018-12-22 04:34] TonyBrobston opened #9 "File validation"
Currently `compress` does not validate that the input is of type `File`. It should also likely check that type is `.gif`, `.jpeg`, or `.png`. If it's anything else we will just return the file, I'm not sure we can return errors?

[2018-12-22 04:55] TonyBrobston opened #10 "README example is not concise"
I'd like to build a demo page that is also a concise example of jpegasus. Hopefully React and hopefully hosted on GitHub Pages.

[2018-12-22 04:56] TonyBrobston opened #11 "Jpegasus uses `base64toblob`"
It would be simple enough to roll my own base64 to blob, that way we have no outside dependencies.

[2018-12-22 04:56] TonyBrobston opened #12 "Jpegasus is not the smallest it can be"
We could look into using webpack to minify the code published to npmjs.com

[2018-12-22 04:57] TonyBrobston opened #13 "code linting"
Jpegasus does not use eslint, it would be good to implement something simple.

[2018-12-23 18:53] TonyBrobston opened #16 "`canvas` and `img` might be able to be more efficient"
Each time a file is compressed a new `canvas` and `img` are created. It would be interesting to throw together some timings on creating both new each time versus reusing the elements after the first use.

[2018-12-23 18:54] TonyBrobston commented on #6
I added functionality to default a `maxHeight` and `maxWidth` which seems to help issues with compression big files. In the case that it fails maybe we should return the original.

[2018-12-23 18:54] #6 closed

[2018-12-23 18:55] TonyBrobston opened #17 "File size 0 when failed compression"
When I compressed a 50+ mb file without scaling the canvas returned a blank file. We should return the original file.

[2018-12-27 15:46] TonyBrobston commented on #8
Also I think that the promises in `imageService.js` are blocking the UI, maybe we can implement web workers if they're available?

[2019-01-04 20:33] TonyBrobston opened #19 "will not always return a jpeg"
If the caller gives `targetFileSize` and the file that is passed in is smaller than `targetFileSize` we will return that file; do we care that the type that comes out is whatever was passed in? In other words it may not be a jpeg.

[2019-01-04 20:53] TonyBrobston opened #20 "File is undefined"
Return what is passed in, don't blow up.

[2019-01-04 21:58] TonyBrobston opened #21 "Consider adding the option to rotate the image."
In some cases on android/ios the image rotates 90 when taking the picture as portrait; landscape is fine.

[2019-01-06 00:54] TonyBrobston opened #22 "test classes were deployed to npm"
It looks like the test classes were deployed to npm, the package could be smaller if we removed these.

[2019-01-06 15:53] TonyBrobston opened #23 "Promise rejections"
Currently the promises in the `ImageService` only handle `resolve`, I wonder if these should also handle reject and just return the original file if either promises is rejected. I think a `.tiff` would cause this issue.

[2019-01-08 00:18] TonyBrobston commented on #22
I added a few things to the `.npmignore`, which solved this issue. I wonder if it's possible to invert the check and only include `package.json` and `/src/`. This should save us from needing to update the `.npmrc` everytime we add a file to the root directory. I may remember to update it each time however if someone else contributes they may not.

[2019-01-08 00:19] TonyBrobston commented on #10
I'm working on a concise example here : https://www.github.com/TonyBrobston/jpegasus-demo

[2019-01-08 05:11] #22 closed

[2019-01-08 05:13] TonyBrobston commented on #20
Need to write a unit test for this

[2019-01-08 05:16] TonyBrobston commented on #17
This is likely caused also by not handling promise rejections

[2019-01-09 16:43] TonyBrobston commented on #21
This article describes how to handle rotation and webworkers. http://code.flickr.net/2012/06/01/parsing-exif-client-side-using-javascript-2/

[2019-01-17 16:50] TonyBrobston commented on #10
Getting really close on this. Hoping to add some html elements to feed in parameters.

[2019-01-17 16:51] TonyBrobston commented on #19
The more I've thought about this the less I care. We moved away from `new File(` as this doesn't work in ie11. We're always returning a `Blob`, which ends up being almost exactly a `File` as it contains nearly (or exactly, I'm not sure at the moment) the same metadata. `File` is of type `Blob` also.

[2019-01-17 16:51] #19 closed

[2019-02-04 15:56] TonyBrobston opened #25 "Add option to allow CORS"
Add an option that can be passed in to add `crossOrigin = "Anonymous"` to the img that's created in `ImageService`.

[2019-02-04 16:38] TonyBrobston commented on #12
I thought some more about this, I'm wondering if the consuming application should handle webpacking. I'm also wondering if there's an easy way to provide both options? Like `jpegasus@1.2.3` vs. `jpegasus@1.2.3:minified`?

[2019-02-04 16:39] TonyBrobston commented on #11
Working on that here: https://github.com/TonyBrobston/jpegasus/tree/remove-base64-to-blob

I might just delete this issue and move on as I'm not sure it's worth it. However base64toblob has not test coverage and is hard to understand (though it works) I'd prefer test coverage and concise easy to understand code.

[2019-02-04 20:38] TonyBrobston commented on #25
Added here: https://github.com/TonyBrobston/jpegasus/pull/26

[2019-02-04 20:56] #25 closed

[2019-02-04 23:24] lounsbrough opened #30 "If original file returned, still correct EXIF rotation"
In the event that the compressed file size >= original file size, the original file is returned. In this case, we should still correct the EXIF rotation on the file.

[2019-02-04 23:25] lounsbrough opened #31 "Add optional face blur"

[2019-02-05 06:39] TonyBrobston commented on #30
This is fixed, I wasn't able to thoroughly test but logically it no longer returns the original.

[2019-02-05 06:39] #30 closed

[2019-02-05 07:18] TonyBrobston commented on #21
Exif handles this and is already implemented.

[2019-02-05 07:18] #21 closed

[2019-02-05 07:19] TonyBrobston commented on #20
I'm currently doing some basic validation that should account for all the scenarios I can think of.

[2019-02-05 07:19] #20 closed

[2019-02-05 07:20] TonyBrobston commented on #10
This is implemented.

[2019-02-05 07:20] #10 closed

[2019-02-05 07:21] TonyBrobston commented on #9
This handles most scenarios, I'm going to call it good for now.

[2019-02-05 07:21] #9 closed

[2019-02-05 07:43] TonyBrobston commented on #31
May be possible with this: https://github.com/justadudewhohacks/face-api.js/blob/master/README.md

However it seems to me that this likely should be it's own package entirely. I'm wondering if I could use one package to detect where the face is and another to blur it; basically just one thin wrappers, wrapping two containers 🤩.

[2019-02-05 18:53] TonyBrobston commented on #8
After talking with a coworker, he explained that it being async actually helps because we could potentially run multiple compressions at once.

[2019-02-05 18:53] #8 closed

[2019-02-13 02:57] TonyBrobston commented on #31
`face-api.js` seems promising, however I don't currently have time to investigate. I'm going to close this since I believe this work should be it's own package entirely. I picture another package that is simply a thin wrapper over the top of `face-api.js` and some tool that `blurs` sections of images given some coordinate hopefully provided by `face-api.js`.

[2019-02-13 02:57] #31 closed

[2019-02-13 02:59] TonyBrobston opened #33 "Jpegasus uses `exif-js`"
`exif-js` is 70.6% of Jpegasus, however we're using likely a couple hundred lines of code from it; might make sense to roll our own and uses `exif-js`'s code directly.

https://bundlephobia.com/result?p=jpegasus@1.7.7

[2019-02-13 05:37] TonyBrobston commented on #33
This seems somewhat promising.

https://gist.github.com/mindplay-dk/72f47c1a570e870a375bd3dbcb9328fb

[2019-02-13 06:06] TonyBrobston commented on #33
Also here is a decent example written in java:
https://gist.github.com/kittinunf/da5609e0ae1b37feed72ae3e8992f0e5

[2019-02-13 06:41] TonyBrobston commented on #33
Thinking more about testing, it seems like in the SUT (system under test) we can create a legit `DataView`.

There's a chance we could hand a legit image that has orientation of something other than 1 as a `File` or `Image` or `Buffer` or something and test that we get the correct orientation out.

Otherwise we'll need to mock out all of the `DataView` stuff, which seems challenging given how many

[2019-02-14 16:01] TonyBrobston commented on #23
I'm thinking about wrapping the top level method in a try/catch. If a promise doesn't resolve I'll throw and then in the catch in the top level method I'll return the original image.

[2019-02-14 16:07] TonyBrobston commented on #17
I'm thinking maybe I add a check right before returning the image and if the size is 0 then return the original file. However I may be essentially avoiding an issue and as a result it won't ever surface that something is wrong.

[2019-02-14 16:09] TonyBrobston commented on #12
I'm thinking it's the responsibility of the consumer to minify or webpack. Chances are if they want my repo webpacked they want their entire bundle minified/webpacked.

[2019-02-14 16:09] #12 closed

[2019-02-14 16:09] TonyBrobston commented on #17
I'm going to handle promise rejections and call it a day. This is already noted as an issue.

[2019-02-14 16:09] #17 closed

[2019-02-14 17:08] TonyBrobston commented on #23
Here's a poc:
[code]

[2019-02-14 17:43] TonyBrobston commented on #23
I've seen where I try to convert a tiff file it just hangs, the Promise seems to never resolve. I think they should be a configuration option that should default to like 5 seconds.

[2019-02-14 17:47] TonyBrobston opened #34 "Should only allow `.jpeg`, `.gif`, and `.png`."
I was able to upload an `image/tiff`. We should change `file.type.indexOf('image/') >= 0` to `.jpeg`, `.gif`, and `.png`. Something like `['image/jpeg', 'image/gif', 'image/png'].includes(file.type)` in `index.js`.

[2019-02-14 19:48] TonyBrobston commented on #23
Working on this here: https://github.com/TonyBrobston/jpegasus/pull/35

[2019-02-14 20:55] TonyBrobston commented on #13
Adding this here: https://github.com/TonyBrobston/jpegasus/pull/36

[2019-02-14 21:32] #13 closed

[2019-02-14 21:32] #23 closed

[2019-02-14 22:02] TonyBrobston commented on #34
Working on this here: https://github.com/TonyBrobston/jpegasus/pull/37

[2019-02-14 22:02] #34 closed

[2019-02-15 05:23] TonyBrobston commented on #33
Working on this here: https://github.com/TonyBrobston/jpegasus/tree/remove-exif-js

[2019-02-15 05:26] TonyBrobston commented on #33
We should consider only reading the file with a `FileReader` once in the `ImageService` or somewhere similar. This commit uses a `FileReader` rather than `URL.createObjectURL(file);`, we could switch from `URL.createObjectURL(file);` to a `FileReader` and kill two birds with one stone.

https://github.com/TonyBrobston/jpegasus/blob/36a7c44e4499b473851b5f4aafe8eb83dbf68b71/src/services/elements/ima

[2019-02-15 05:30] TonyBrobston opened #41 "Orientation fix fails on edge case"
If we try to compress an image and for some reason the image gets bigger and the image is of a bad orientation, it will not fix the orientation.

[2019-02-16 04:16] TonyBrobston commented on #11
As I think about this more I'd prefer to have 0 dependencies.

[2019-02-17 15:43] TonyBrobston commented on #33
I'll refactor this later to accommodate my comment above ^. `exif-js` now removed and deployed npm.

[2019-02-17 15:43] #33 closed

[2019-02-17 23:55] TonyBrobston opened #55 "Reminder: add a contributors section to the readme"

[2019-02-17 23:59] TonyBrobston opened #56 "Maintainability"
Right now Maintainability is a C, making this an A won't take much effort.

[2019-02-19 03:32] TonyBrobston commented on #56
This now an A.

[2019-02-19 03:32] #56 closed

[2019-02-19 06:18] TonyBrobston commented on #55
We now have contributors. See the CONTRIBUTING.md for details on how to be added.

[2019-02-19 06:39] #55 closed

[2019-02-20 04:43] TonyBrobston commented on #11
This has been removed

[2019-02-20 04:43] #11 closed

[2019-02-20 05:33] TonyBrobston commented on #41
Fixing this by removing pick smaller. https://github.com/TonyBrobston/jpegasus/pull/82

[2019-02-20 05:38] #41 closed

[2019-02-20 19:26] TonyBrobston opened #84 "Default dimensions to image's dimensions"
Currently the default will make the image huge. I specifically set this limit in the event that then set no max dimensions as I had a large image fail. I think this is heavy-handed. Right now I think if it fails it fails.

[2019-02-21 13:52] TonyBrobston commented on #84
This is merged to master, I'll deploy it when I work out the automated deployment. I'm busy most of the weekend this won't be until early next week.

[2019-02-21 13:52] #84 closed

[2019-03-23 04:55] TonyBrobston opened #88 "Create integration tests"
Sure things work well at a unit level, but how do we know when these are brought together they still work.. together? I picture testing that works top to bottom and only mocks the things which we don't have (probably only dom related things).

[2019-03-23 04:58] TonyBrobston opened #89 "Create acceptance tests"
Sure things work well at a unit level (and maybe at an integration level, assuming these tests exist), but how do we know when these are brought together they still work.. together? I picture testing that works top to bottom, including dom related things. Could we create another process in the deployment pipeline to deploy to github pages (somewhere other than jpegasus-demo; maybe a fork of jpegas

[2019-04-03 18:08] TonyBrobston opened #92 "Typescript"
Consider converting to Typescript

[2019-04-05 06:09] TonyBrobston commented on #92
This work can be found here: https://github.com/TonyBrobston/jpegasus/pull/93

[2019-06-18 21:18] TonyBrobston opened #95 "Option to rethrow on failure"
Currently I'm catching any errors and returning the original image, maybe we should add an option so that a user could choose to have jpegasus actually throw and then they can deal with the throw.

[2019-06-20 04:36] TonyBrobston commented on #92
Merged.

[2019-06-20 04:36] #92 closed

[2019-06-21 22:42] weilinzung opened #99 "new feature Scale up and down images?"
new feature Scale up and down images?

[2019-06-24 15:47] TonyBrobston commented on #99
@weilinzung Can you elaborate?

Do you mean like width/height of the image? If so, are you looking for an option like `scaleDimensionsBy`? In this case if you wanted all images to be half the size you could pass `0.5` and if you want to say double them you'd pass `2`? Assuming you have a use case this seems reasonable to me.

[2019-06-24 16:12] TonyBrobston commented on #7
Ideally we would create an algorithm for this. With some simple machine learning we could collect data for many different types of images (desired quality, height, width, file size, actual quality).

If we wrote a program that could grab a random image and the process it with a bunch of different scenarios we could get a data set to graph on a 4-dimensional array and produce a formula from that da

[2019-06-24 16:38] weilinzung commented on #99
@TonyBrobston you are correct, I want to be able to scale image width & height and keep the ratio.

Does the option of `scaleDimensionsBy` already exist?

[2019-06-24 17:20] TonyBrobston commented on #99
@weilinzung It does not.

However I'm open to trying to implement it. If you're familiar with test driven development and typescript I'm accepting pull requests; if not I'll likely get to it in the next few days or possibly in a week or two.

[2019-06-24 17:54] weilinzung commented on #99
@TonyBrobston Appreciated and I think that would be very helpful. I think I can try to create the functions but maybe would not happen sooner than you.

[2019-06-24 18:49] TonyBrobston commented on #99
@weilinzung I guess we'll see who gets to it first. If you make the changes I can give you a shout-out by adding you to the contributors list. But no biggie if not.

Another thing to consider is if someone was to use `scaleDimensionsBy` with `maxHeight` and/or `maxWidth`. I would thinking if they set either max `jpegasus` should still respect that.

So I'd say three tests need added here (one for

[2019-06-26 03:41] TonyBrobston commented on #95
https://github.com/TonyBrobston/jpegasus/pull/105

[2019-06-26 03:43] TonyBrobston commented on #95
Merged.

[2019-06-26 03:43] #95 closed

[2019-06-26 03:45] TonyBrobston commented on #16
I'm not sure this really matters. I'll re-approach later if it comes back up again.

[2019-06-26 03:45] #16 closed

[2019-06-26 04:48] TonyBrobston commented on #88
After an hour or so of experimenting, integration tests at a jest level just do not seem viable. Mainly when we get here: https://github.com/TonyBrobston/jpegasus/blob/8dbc6b85dca03ac8b92f8305f3cba9311bc833e2/src/services/imageService.ts#L15

`image.src = URL.createObjectURL(file)` does not invoke the `onload` and therefore we can't actually produce an image from a file; so I just fail to see the

[2019-06-26 04:48] #88 closed

[2019-06-26 05:13] TonyBrobston commented on #99
Here's the start of the PR. I need to pass the last two tests, unfortunately it's getting late and I'm not thinking clearly.

https://github.com/TonyBrobston/jpegasus/pull/107

[2019-07-03 23:53] weilinzung commented on #99
looks cool. I think you are far ahead than me. Do you need any helps or you will do the last two tests?

[2019-07-08 19:05] TonyBrobston opened #109 "Refactor `Options.ts`"
I'd like to refactor later to have `optionService` take in a `InputOptions` object and return an `Options` object.

[code]

[code]

Hopefully one could extend the other and add or remove the required field part. This would make scaleService a lot cleaner as we could remove safety checks to see if scaleImageBy, maxHeight, or maxWidth exist.

[2019-07-08 19:22] TonyBrobston commented on #99
@weilinzung This PR has been merged (https://github.com/TonyBrobston/jpegasus/pull/108) and I cut a release, you'll see `scaleImageBy` in `1.11.0`.

Let me know how it works for you and if you have any other feature requests.

[2019-07-08 19:22] #99 closed

[2019-07-08 19:23] TonyBrobston commented on #99
You can also try it out here: https://tonybrobston.github.io/jpegasus-demo/

[2019-07-10 15:49] TonyBrobston opened #110 "Update readme to ask for feature requests"
As an attempt to gain more users I would like to update the readme to ask people to add an issue with feature requests. I'm not sure what people need, but I'm willing to try to understand what they need and probably build it.

[2019-07-10 17:02] TonyBrobston commented on #109
PR: https://github.com/TonyBrobston/jpegasus/pull/111

[2019-07-10 17:19] TonyBrobston opened #112 "Throw on invalid file"

[2019-07-10 18:09] TonyBrobston commented on #109
Merged.

[2019-07-10 18:09] #109 closed

[2019-07-10 18:35] TonyBrobston commented on #112
PR: https://github.com/TonyBrobston/jpegasus/pull/113

[2019-07-10 19:43] TonyBrobston commented on #112
Merged.

[2019-07-10 19:43] #112 closed

[2019-07-12 19:21] weilinzung commented on #99
@TonyBrobston Just got a chance to test the new version, but I got an error with React.

    "jpegasus": "^1.9.55" works fine!

`Unhandled Rejection (TypeError): Cannot read property 'compress' of undefined`

[code]

[2019-07-12 19:43] weilinzung commented on #99
after I change from `import jpegasus from 'jpegasus';` to `const jpegasus = require('jpegasus');` that would works again!

[2019-07-14 17:53] TonyBrobston commented on #110
PR: https://github.com/TonyBrobston/jpegasus/pull/117

[2019-07-14 17:58] TonyBrobston commented on #110
Merged

[2019-07-14 17:58] #110 closed

[2019-07-16 21:38] urbantumbleweed opened #118 "Uncaught RangeError: Offset is outside the bounds of the DataView"
I am running into an error when calling `jpegasus.compress`?

Here is a snippet of my code with comments
[code]

The input to this code are dom elements that have been converted to canvas with `html2canvas`.

The output error doesn't appear to be fatal, but there also doesn't appear to be a way to address the issue.   Here is a screenshot of my error.  Let me know if there is anything else I can d

[2019-07-19 20:44] TonyBrobston commented on #118
Hello @urbantumbleweed, thanks for reporting this issue.

I'm wondering two things:
1. What version of jpegasus are you running?
2. Do you have the image that you tried to compress and can I get access to it?

I had this particular issue a few weeks ago and put a fix in which mainly involved getting the orientation out of the exif data a different way. I think the issue is gone, so if you are runn

[2019-07-19 20:46] TonyBrobston commented on #118
On second look, the code you've shown in the second screenshot is the updated way of getting orientation from the exif data, so you're on a pretty new version.

If you can provide the image I can definitely look into it.

[2019-07-19 21:11] urbantumbleweed commented on #118
Thank you for responding. I will need to extract the image from the
application on the next repro.  The images are dynamically generated from
the UI’s react component.

Thanks

On Fri, Jul 19, 2019 at 1:46 PM Tony Brobston <notifications@github.com>
wrote:

[2019-07-29 19:11] TonyBrobston commented on #118
@urbantumbleweed I'm going to close this, if you get that image please reopen and I'll look into it! Thanks.

[2019-07-29 19:11] #118 closed

[2019-09-27 20:42] TonyBrobston commented on #89
Currently researching https://docs.cypress.io/guides/overview/why-cypress.html#In-a-nutshell.

[2019-10-14 12:52] TonyBrobston commented on #89
I merged this a couple days ago, now we have a test that uses a real dom!

[2019-10-14 12:52] #89 closed

[2019-10-19 14:49] TonyBrobston opened #125 "Implement Husky"
I'm looking to clean up commit messages in the future by implementing husky.

[2019-10-30 01:02] TonyBrobston commented on #125
Done.

[2019-10-30 01:02] #125 closed

[2019-12-13 16:31] TonyBrobston opened #128 "Add jpegasus logo to readme"

[2020-01-24 21:48] TonyBrobston commented on #128
Solved in https://github.com/TonyBrobston/jpegasus/pull/133

[2020-01-24 21:48] #128 closed

[2020-01-27 01:29] TonyBrobston commented on #7
I'm closing this as it isn't currently important to me. Maybe in the future I'll open it back up and consider it again.

[2020-01-27 01:29] #7 closed

[2020-02-13 19:58] TonyBrobston opened #138 "Test jpegasus in multiple browsers"
cypress now supports chrome, edge, firefox, etc. Let's setup to test in all of these.

[2020-05-09 02:06] smfelsher opened #141 "Different behavior in Chrome vs Firefox"
Using your demo page, https://tonybrobston.github.io/jpegasus-demo/, I see a difference between Firefox and Chrome when uploading a GIF file. Chrome produces a smaller JPEG, but Firefox produces a larger JPEG.

[2020-05-14 04:38] TonyBrobston commented on #141
@smfelsher I've found that different browsers or even the same browser but on a different operating system produces different sized outputs.

I haven't really looked into why, but my assumption is that there is some sort of spec that a browser has to adhere to when implementing certain features, like `HTMLCanvasElement`, `HTMLImageElement`, etc.. I assume this is similar to an interface, so like t

[2020-05-14 15:26] smfelsher commented on #141
Thank you @TonyBrobston for the detailed explanation. Your point about

made me realize that I did not clearly explain what I was seeing.

I visit your demo page in the Firefox browser and select a GIF that is 11.09 Kbytes in size. When I press submit, the tool indicates that `jpegasus` produces a JPEG that is 37.04 Kbytes. This result is __larger__ than the original.

When I visit the demo page w

[2020-05-14 16:08] TonyBrobston commented on #141
@smfelsher I think maybe talking from the perspective of "what problem are we trying to solve?", might be helpful.

I think the problem is, `jpegasus` should always return a file the same size or smaller.

I'd be open to adding an optional boolean of `returnOriginalIfBigger` (or something along those lines).

The underlying technology is `HTMLCanvasElements`' `toDataURL` function. In my options `q

[2020-05-14 17:08] smfelsher commented on #141
I'm coming at this from the 50,000 ft view. I've only been "web" programming for about 6 months (embedded programming for about 20 years), so I only have a simplistic view of the problem :).

What I have done in my application is exactly what you suggest, If `jpegagus` returns a file that is larger than the original, then I save the original to my server; otherwise, I'll use the smaller file that

[2020-05-14 21:11] TonyBrobston commented on #141
I've done a decent amount of frontend and api development (close to 9 years between the two), I have no experience with embedded; but logic is logic, so I imagine with 20 years of programming you'll pick this stuff up quick.

The background definitely helps. It's also worth mentioning that compressing client side also means you're sending a smaller file, so less bandwidth as well as faster uploads

[2020-05-14 21:29] smfelsher commented on #141
Why do you think that Firefox is producing a larger file size when it converts the GIF to JPEG?

[2020-05-14 22:46] TonyBrobston commented on #141
Here are the changes I've put together.
https://github.com/TonyBrobston/jpegasus/pull/149

Can you provide the gif you're referring to? I grabbed a gif randomly off the internet and I found that with `maxHeight` 1000, `maxWidth` 1000, quality `1`. Original size 3003.4 kb, compressed Chrome 114.82 kb, compressed Firefox 120.67 kb. Are you asking why I think Firefox is 5.85 kb bigger?

[2020-05-14 22:57] smfelsher commented on #141
I'm not asking why Firefox is 5.85 kb bigger than Chrome.

I'm asking why `jpegasus` is not compressing my GIF file, but actually making it larger, when I use the Firefox browser.

When I upload the attached image to the `jpegasus` demo using the Firefox browser, the demo page reports:

[code]
1. Why is `jpegaus` not compressing the file?
2. When I do this with the Chrome browser, the **Jpegasus**

[2020-05-14 23:00] smfelsher commented on #141
OK, now when I try the demo page with the Chrome browser, it behaves like Firefox. The **Jpegasus** file size is larger than the original. This morning, this was not the case.

[2020-05-14 23:17] smfelsher commented on #141
Sorry, I didn't configure things properly.
[code]

Firefox
[code]
Chrome
[code]
Chrome compressed, Firefox made it **larger**.

[2020-05-14 23:42] TonyBrobston commented on #141
I still don't have a solid answer as to why Firefox ends up larger, but I do have `returnOriginalIfCompressedFileIsLarger` implemented.

I have the demo site setup as a Progressive Web Application and I don't have a way setup yet to automatically unregister the old service worker. So you'll either need to open developer tools and go to Application > Service Workers and click "Unregister" then refr

[2020-05-15 00:23] smfelsher commented on #141
I'll update the library and utilize the new configuration option ASAP.

Thanks!

[2020-06-23 07:17] chriscdn opened #151 "orientation depends on browser"
I'm having inconsistent results when creating a thumbnail of a photo in portrait orientation.  This can be demonstrated on https://tonybrobston.github.io/jpegasus-demo/.

- take [this photo](https://www.dropbox.com/s/6a1oi6fpa8kjjed/6438955A-A4CF-45AC-9E91-04FB848E2129.jpeg?dl=0) as an example
- create a thumbnail using the demo site using Chrome and Firefox
- with Firefox the photo is correctly o

[2020-06-23 14:21] TonyBrobston commented on #151
@chriscdn Can you provide the version number of Chrome you're running?

I tested compression in both Chrome and Firefox, they were orientated correctly. I think it may be specific to the version of Chrome you're using. If I can reproduce the issue I'll see what I can do to fix it.

Thanks for reporting the issue!

[2020-06-23 14:33] chriscdn commented on #151
Thanks for looking into this.  I just tried it again with Chrome "83.0.4103.116 (Official Build) (64-bit)" on a Mac and Windows and in both cases it's rotated.   [Here's a screenshot](https://www.dropbox.com/s/pimu4p9k037yamq/screenshot.png?dl=0) to illustrate the orientation I'm seeing.

[2020-06-23 19:02] TonyBrobston commented on #151
@chriscdn I think there's a chance that when you uploaded that image to Dropbox in your original post, that Dropbox modified the image, which I think cleared the exif data.

Could you try to upload the original directly into this Github issue? I think there's a chance Github may not overwrite the exif data.

It's also possible to test the original and the image uploaded to dropbox (which you'd hav

[2020-06-23 19:34] chriscdn commented on #151
I compared the original to a copy downloaded from Dropbox and they are the same.  Can you do checksum on your copy?  Here's what I get:

[code]

[2020-06-23 20:47] TonyBrobston commented on #151
@chriscdn
[code]

I'm not all that familiar with sha's, I assume these are supposed to match?

[2020-06-23 20:49] chriscdn commented on #151
Yes, they should match.  Give the attachment a try.

![6438955A-A4CF-45AC-9E91-04FB848E2129](https://user-images.githubusercontent.com/363330/85460670-c7868500-b5a3-11ea-9106-2fc869e5780f.jpeg)

[2020-06-23 20:50] TonyBrobston commented on #151
@chriscdn Perfect, that reproduced the issue.

[2020-06-23 20:51] chriscdn commented on #151
Good call on dropbox modifying the file.

[2020-06-23 20:55] TonyBrobston commented on #151
Interesting. Apparently the orientation is 6. I must be doing something wrong to convert orientation 6 to orientation 1.
![image](https://user-images.githubusercontent.com/4724577/85461371-e6682580-b569-11ea-8e4c-9d25da3a1b4e.png)

[2020-06-23 20:58] TonyBrobston commented on #151
Here's the area I'm looking at: https://github.com/TonyBrobston/jpegasus/blob/3e8440e1eaecadad696412ab66752bd06196ab51/src/services/canvasService.ts#L14-L40

I'm pretty sure I based the rotation off this post (or similar): https://stackoverflow.com/questions/20600800/js-client-side-exif-orientation-rotate-and-mirror-jpeg-images

[2020-06-23 21:01] chriscdn commented on #151
Keep in mind it works with other browsers so it might be a bug in Chrome.

[2020-06-23 21:07] TonyBrobston commented on #151
@chriscdn That's a really good point.

[2020-06-23 21:12] TonyBrobston commented on #151
After a little bit of research I'm guessing Chrome is fine and it's a big in my code.

[2020-06-23 21:40] TonyBrobston commented on #151
Now I'm getting the impression that Chrome and Firefox implemented an autorotate feature. For example, the below image is orientation 4, but it displays as orientation 1 in Chrome (on the latest Chrome version). When I open the same image in Safari, it shows in orientation 4.
![exifOrientationFour](https://user-images.githubusercontent.com/4724577/85466464-a146f200-b56f-11ea-8455-2eef4d6e8860.jpeg

[2020-06-25 13:35] TonyBrobston commented on #151
I might pull in a library that can read/write exif. I have tried to avoid importing libraries as I feel that they have a bunch of extra stuff that I won't be using, so this saves space on the client side. However, it's worth considering. This is the one I'm looking at https://www.npmjs.com/package/piexifjs.

https://bundlephobia.com/result?p=piexifjs@1.0.6
https://bundlephobia.com/result?p=jpegasu

[2020-07-14 14:33] TonyBrobston commented on #151
I ended up going the route of using https://www.npmjs.com/package/@ginpei/exif-orientation . I added an `updateOrientationCode` method, thinking I could consume that and all would be good.

However in the process of adding this function I learned that it's simple to update orientation if it's there and possibly more difficult to add orientation if it is not here. In the case of compressing, the fi

[2020-07-25 19:41] TonyBrobston opened #161 "Add option to disable orientation correction"
I'm am effort to fix orientation correction I'm going to add an option to shut it off. This will help me to troubleshoot and allow people to disable it if it happens to be buggy for them.

[2020-07-27 18:51] #161 closed

[2020-07-31 03:45] kwhandy opened #165 "Please help me to work with html forms"
This package is great but can you tell me how to replace html image input data form with the compressed image generated from this package? I really sorry to open issue:(

[2020-08-06 21:35] TonyBrobston commented on #165
@kwhandy Have a look at my example repo, specifically this JavaScript: https://github.com/TonyBrobston/jpegasus-demo/blob/b636a4a4cf9ff7ad14f64fcf0ff9747e2a57500e/src/js/main.js#L56

If that does not help, can you provide me a link to your repo or a codesandbox of what you're trying to do?

[2020-08-11 19:33] TonyBrobston commented on #165
@kwhandy I'm going to close this. Let me know if you need anything else.

[2020-08-11 19:33] #165 closed

[2020-09-23 09:48] andrewdavidcostello opened #167 "Compress does not throw error and gets trapped in await"
Something is happening with the attached image where no error is thrown and the image is not compressed. I unfortunately don't have time to leave it running right now and will try to update this with more information if I can. For now I will have to set a timeout and wrap the compress in a promise.

First problem I have had with this library though!

![0008](https://user-images.githubusercontent.c

[2020-09-25 16:20] TonyBrobston commented on #167
@andrewdavidcostello Thank you for reporting this issue and providing this image, this is a huge help!

I've put a test together that should be valid. The test fails because of jest's timeout, which is 5 seconds; this happens because like you mentioned it's stuck in the promise. I'm not sure of what the fix is yet. On a side note, I kind of regret implementing exif orientation stuff; this is out o

[2020-09-25 16:23] TonyBrobston commented on #167
Actually... I just realized the issue and the solution I believe. Seems like it just never calls `resolve` after parsing all the bytes. In this case we'll assume orientation wasn't able to be found and resolve `-1`.

[2020-09-25 16:35] andrewdavidcostello commented on #167
Glad it was a quick solution, once you release a new version I will give it a test. Unfortunately I had to switch libraries for now to resolve this (so might take a little while) but I much preferred this one so would be nice to drop it back in. I am not sure if this is related but I also saw this in Sentry:

[code]

I don't have any more information on that one but you may be able to tell if it i

[2020-09-25 16:37] TonyBrobston commented on #167
@andrewdavidcostello That's good to know. I may be able to write a test that recreates that and then resolve it. Thanks again.

[2020-09-25 17:10] TonyBrobston commented on #167
@andrewdavidcostello This fix is deployed. I'll be updating my demo site shortly and I'll confirm it's working there. It was tested at a unit level, so it should work at an integration level.

[2020-09-25 17:10] #167 closed

[2020-09-25 17:43] TonyBrobston commented on #167
The demo site is deployed, looks like it's working now.

[2020-09-30 01:07] WesleyHovick opened #173 "Compression changes object given"
Legacy Edge & IE11 return blobs instead of files when the input is a file.
When given a File object as an input, `compress` returns a Blob in Legacy Edge and IE11.
This is a problem because the expected input file has a `name` and `lastModifiedDate` property, but after compression does not.
This behavior is not observed in Google Chrome or the recently released Chromium based Edge.

[2020-09-30 14:16] TonyBrobston commented on #173
Hey @WesleyHovick , thanks for reporting this issue.

Do you have a suggested solution?

This `File`/`Blob` situation was intentional. I marked the return type as `File|Blob` (https://github.com/TonyBrobston/jpegasus/blob/214402ef221aa52a13bccc2a46cca4734314f013/src/index.ts#L8).

I was between a rock and hard spot when making this decision a year or so ago. `File` seems to be the type to use, how

[2020-09-30 19:29] TonyBrobston commented on #173
Now that I think back, I'm not sure which version of IE doesn't have `File`. It may be all of them, but it may not; I don't recall.

[2020-09-30 19:32] TonyBrobston commented on #173
I believe this is what we're looking for. https://developer.mozilla.org/en-US/docs/Web/API/File

[2020-10-01 21:06] WesleyHovick commented on #173
@TonyBrobston Sorry for the late reply, super busy!

You are completely correct `File` extends `Blob`. I also noticed that you specified the return type of `File | Blob`, and I think in almost all cases this is perfectly okay.

However, in our case we are actually using the compressed file with our frontend to show the name of the file, which is how we came across this issue with our IE11 and Edge

[2020-10-02 14:23] TonyBrobston commented on #173
@WesleyHovick No rush, I'm just trying to be timely in hopes that you will continue to use this package :).

I think we're on the same page. I don't think there's anything we can do about the type, but I am pretty sure we can preserve `name`. I'll look into what other properties `File` has and see if it's possible to preserve them.

I think this is will be a good change and probably should have be

[2020-10-02 14:42] TonyBrobston commented on #173
So I did just realize one potential issue.

`File`:
[code]

`Blob`:
[code]

I can definitely implement something like above here:
https://github.com/TonyBrobston/jpegasus/blob/214402ef221aa52a13bccc2a46cca4734314f013/src/services/fileService.ts#L9-L15

[code]

However, the original `File` being passed in likely does not have a `name` in the case of `Blob`. So I'm thinking `blob.name` would get set

[2020-10-02 14:50] TonyBrobston commented on #173
Alright, I did some testing in ie11 and the path forward is clear. ie11 does not have the `File` constructor. But when a file is loaded into a `input` of `type` `file` like this:
[code]
Then it really is a `File` and has a name.

[2020-10-02 15:12] TonyBrobston commented on #173
Here is what I have so far. https://github.com/TonyBrobston/jpegasus/pull/174

Since `name` seems to be the most important, I'll probably merge/deploy that and then look into the other properties.

[2020-10-02 16:02] TonyBrobston commented on #173
Publishing a release, should be deployed shortly. https://github.com/TonyBrobston/jpegasus/releases/tag/1.15.1

[2020-10-02 16:02] #173 closed

[2020-10-02 16:15] TonyBrobston commented on #173
I added a `console.info` to my demo site (https://tonybrobston.github.io/jpegasus-demo) and am able to see that `Blob` now has `name`.

[2020-10-02 19:31] TonyBrobston commented on #173
Also adding `lastModified` and `lastModifiedDate`. `lastModifiedDate` is deprecated, but I added it anyhow.

https://github.com/TonyBrobston/jpegasus/pull/177

[2020-10-02 20:29] TonyBrobston commented on #173
Alright, ^ is released. https://github.com/TonyBrobston/jpegasus/releases/tag/1.15.2

[2020-10-06 19:23] WesleyHovick commented on #173
@TonyBrobston Awesome! Great work, I'll pull in the new version when I get the chance and remove my workaround and see if just using this works now in IE11 and Legacy Edge. Thanks! 😸

[2020-10-06 20:15] TonyBrobston commented on #173
@WesleyHovick No problem, glad to help.

Let me know if you have any problems. Also, if you have any other feedback on the experience of using this package I'd appreciate any feedback you can give.

[2020-10-08 16:56] TonyBrobston commented on #138
https://github.com/TonyBrobston/jpegasus/pull/178

[2020-10-09 01:06] #138 closed

[2020-10-09 03:31] WesleyHovick commented on #173
@TonyBrobston Pulled in latest, reverted my work around, and it works great in IE11. Thanks again for your quick responses and quick fix!  😸

[2020-10-09 14:13] TonyBrobston commented on #151
Just wanted to mention that I still haven't fixed this. I've been having some really wonky results with browsers like Chrome adjusting the orientation after `jpegasus` adjusts the orientation. It's like essentially the orientation fix occurs twice. So.. I think if we could set the orientation on the image to 1 before Chrome can mess with it, then let `jpegasus` do the work, then it seems like we w

[2020-10-14 10:02] joonaspaakko opened #180 "PNG output?"
PNG transparency is discarded

What I'm getting:
![jpegasus-star-example](https://user-images.githubusercontent.com/1164476/95973805-cad8a180-0e1c-11eb-84b6-8dc5a81175fa.png)

Original file:
![star-icon](https://user-images.githubusercontent.com/1164476/95973837-d4620980-0e1c-11eb-9f1c-0c8dcbe008bf.png)

[2020-10-14 10:12] joonaspaakko commented on #180
**My bad...** I read that it supports png, but I guess I never got further than that in the readme, because I didn't realize it outputs jpegs. Any chance it could output png files?

[2020-10-14 15:44] TonyBrobston commented on #180
@joonaspaakko Thank you for reporting this!

I did a bit of experimenting and it seems possible to fix this.

I swapped `image/jpeg` for `image/png` on these two lines and was able to produce a transparent png:
https://github.com/TonyBrobston/jpegasus/blob/772b15550b350d0d549fac6608ba7b2ef1936b2c/src/services/qualityService.ts#L6
https://github.com/TonyBrobston/jpegasus/blob/772b15550b350d0d549fac

[2020-10-14 15:57] TonyBrobston commented on #180
Actually, while this seems to not break anything, I am not seeing the compress file size change when changing input options. This seems to imply that this form of image compression may not support the output of anything other than jpeg. I'll continue looking.

[2020-10-14 16:31] joonaspaakko commented on #180
Sounds good to me 👍

[2020-10-14 16:41] TonyBrobston commented on #180
Looking a bit into the idea of changing the jpeg matte color, that seems very viable. I was able to add:
[code]
Right above this line:
https://github.com/TonyBrobston/jpegasus/blob/772b15550b350d0d549fac6608ba7b2ef1936b2c/src/services/canvasService.ts#L64

This seems to swap black for white effectively. I'm going to experiment a bit more.

[2020-10-14 17:02] TonyBrobston commented on #180
Alright, so I think I have done enough experimenting/research to determine that compression isn't possible while retaining transparency. If we convert the `image/png` to `image/jpeg` in order to compress, we lose transparency. (Maybe there's something that can be done to convert a `image/jpeg` to an `image/png` and say like "replace a certain color with transparency", but that seems error prone if

[2020-10-14 17:27] joonaspaakko commented on #180
Yea, I don't want to steer the project in the wrong direction, but at this point I'd personally be happy if I could just resize pngs without any compression, if that's doable.

Currently I'm just detecting png files and passing them forward without pushing them through jpegasus.

----

If there was an option to set the jpeg matte color, I'd need to be able to set the color myself, if possible. I w

[2020-10-14 17:44] TonyBrobston commented on #180
@joonaspaakko I'm opening to trying to solve problems. The feedback definitely helps.

I could definitely add a `preserveFileType` option and note that compression breaks when the file type is not `image/jpeg`; this should still allow height/width and scaling to be used, which will still effect compressed image size. Also `pngTransparencyFillColor` could be exposed as an option and defaulted to `#

[2020-10-14 17:50] joonaspaakko commented on #180
Sounds good.

[2020-10-14 18:41] TonyBrobston commented on #180
`transparencyFillColor`: https://github.com/TonyBrobston/jpegasus/pull/181

This is really `fillStyle` under the hood, so this will support anything that supports, it's a straight passthrough. Defaults to `'#FFF'`.

[2020-10-14 20:26] TonyBrobston commented on #180
`https://github.com/TonyBrobston/jpegasus/pull/184`: https://github.com/TonyBrobston/jpegasus/pull/184

[2020-10-14 23:52] TonyBrobston commented on #180
@joonaspaakko I tagged a release, which also does a npm deploy. https://github.com/TonyBrobston/jpegasus/releases/tag/1.16.0 This should be out there as soon as travis-ci finishes a build/deploy. I will update my demo site shortly after that.

[2020-10-14 23:52] #180 closed

[2020-10-15 14:07] TonyBrobston commented on #180
Also I updated https://tonybrobston.github.io/jpegasus-demo/ so if you want to experiment with how these two new options work, you can.

[2020-12-10 02:08] kwhandy commented on #165
Hi! Sorry for really slow response. I just want to use normal html form but with attaching jpegasus code, I can replace choosen file inside the file input(just one file input) right after I choose one jpg/png from my pc. Here is my html: https://codesandbox.io/s/vigilant-hofstadter-e1pn4?file=/index.html. Or maybe you have simpler suggestion for this? I really appreciate your help

[2020-12-11 17:25] TonyBrobston commented on #165
@kwhandy I started by trying to modify your codesandbox, but then I realized I'm not really sure what you're trying to do. I image you're pulling a image into an input field, then wanting to compress that image, then call something to upload the compressed image; but because the last piece isn't there (uploading an image), I don't know what to do with the compressed image.

So instead I decided to

[2021-07-20 13:26] TonyBrobston opened #201 "Move to Github Actions"
It appears Travis-CI now charges if you hit the limit for the free tier (which I have), so we'll move to something else that is free.

[2021-07-22 17:50] TonyBrobston opened #202 "Upgrade husky and commitlint"
I think this is party of the path forward: https://dev.to/suprabhasupi/validate-commit-message-using-commitlint-and-husky-2n5o